torch-scatter==2.0.*
torch-sparse==0.6.*
torch-spline-conv==1.2.*
torch-cluster==1.4.*
torch-geometric==1.4.*
jupyterlab-nvdashboard==0.1.*
jupyterlab_sql==0.3.*
jupyter-tensorboard==0.2.*

# make sure the following are re-compiled if environment is re-built
--no-binary=torch-scatter
--no-binary=torch-sparse
--no-binary=torch-spline-conv
--no-binary=torch-cluster
--no-binary=torch-geometric
